extend layout

block specificassets
    //- css (font awesome and bulma css)
    link(rel="stylesheet", href="/assets/css/all.min.css")
    link(rel="stylesheet", href="/assets/css/bulma.min.css")
    //- scripts (font-awesome)
    script(src="/assets/js/all.min.js")

block content
    //- div#Projects.container
    //-     div#List.column
    //-         div#Project
    //-             div#ProjectHeader
    //-             div#ProjectBody
    //-     div#ProjectInfo.column
    section.section
        #Projects.container.is-widescreen.is-fluid
            .columns
                #List.column.is-one-quarter
                    #Project
                        #ProjectHeader
                        #ProjectBody
                #ProjectInfo.column

block footer
    script(src="/assets/js/bundle.js")