<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title #{title}
        script(src="/assets/js/react.development.js")
        script(src="/assets/js/react-dom.development.js")

        block specificassets

    body
        block content

        block footer